# Database Configuration
MONGODB_URI=mongodb://localhost:27017/movie-booking-app

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_s5RQNDxnb7SWOr
RAZORPAY_KEY_SECRET=wF97H9FwsYTB78qkB6yrSvcu

# Server Configuration
PORT=5000
NODE_ENV=development 